.home-wrap {
    .my-info-form {
        width: 270px;
    }
    .home-date-title {
        height: 35px;
        line-height: 35px;
        color: #908b8b;
        text-indent: 10px;
    }
    .datepicker-cont {
        width: 100%;
    }
}
